In [1]:
import pandas as pd
import requests
import geopandas as gpd
from shapely.geometry import Point

In [2]:
app_token = "Rl5BUiRawpr4H2LA9OQeKB47L"

# 1 Data Preprocessing

## 1.1 Download 311 data and 2015 tree cencus data

In [3]:
from datetime import datetime, timedelta

def generate_month_ranges(start_date, end_date):
    current = start_date
    temp = 0
    while current < end_date:
        temp += 1
        month_end = current.replace(day=1) + timedelta(days=32)
        month_end = month_end.replace(day=1) - timedelta(days=1) # 9 30
        yield (current, month_end)
        current = month_end + timedelta(days=1)
        if temp == 100:
            break

#Set start date and end ate
start_date = datetime(2018, 10, 1)
end_date = datetime(2023, 9, 30)

#Generate month's range
month_ranges = list(generate_month_ranges(start_date, end_date))

In [4]:
import os

for start, end in month_ranges:
    year = start.year
    csv_file = f"data/complaints_data_{year}.csv"
    print(f"Downloading data for the period: {start.strftime('%Y-%m-%d')} to {end.strftime('%Y-%m-%d')}")

    query = f"created_date between '{start.strftime('%Y-%m-%dT%H:%M:%S')}' and '{end.strftime('%Y-%m-%dT%H:%M:%S')}'"
    response = requests.get(
        url="https://data.cityofnewyork.us/resource/erm2-nwe9.json",
        params={"$$app_token": app_token, "$where": query, "$limit": 999999,
                "$select": "unique_key, created_date, closed_date, agency,  complaint_type, descriptor, location_type, incident_zip, latitude, longitude, borough"
                }
    )
    data = response.json()
    batch_df = pd.DataFrame(data)

    # 根据年份写入或追加到对应的CSV文件
    mode = 'a' if os.path.exists(csv_file) else 'w'
    batch_df.to_csv(csv_file, mode=mode, index=False, header=not os.path.exists(csv_file))

print("Data download complete.")

Downloading data for the period: 2018-10-01 to 2018-10-31
Downloading data for the period: 2018-11-01 to 2018-11-30
Downloading data for the period: 2018-12-01 to 2018-12-31
Downloading data for the period: 2019-01-01 to 2019-01-31
Downloading data for the period: 2019-02-01 to 2019-02-28
Downloading data for the period: 2019-03-01 to 2019-03-31
Downloading data for the period: 2019-04-01 to 2019-04-30
Downloading data for the period: 2019-05-01 to 2019-05-31
Downloading data for the period: 2019-06-01 to 2019-06-30
Downloading data for the period: 2019-07-01 to 2019-07-31
Downloading data for the period: 2019-08-01 to 2019-08-31
Downloading data for the period: 2019-09-01 to 2019-09-30
Downloading data for the period: 2019-10-01 to 2019-10-31
Downloading data for the period: 2019-11-01 to 2019-11-30
Downloading data for the period: 2019-12-01 to 2019-12-31
Downloading data for the period: 2020-01-01 to 2020-01-31
Downloading data for the period: 2020-02-01 to 2020-02-29
Downloading data for the period: 2020-03-01 to 2020-03-31
Downloading data for the period: 2020-04-01 to 2020-04-30
Downloading data for the period: 2020-05-01 to 2020-05-31
Downloading data for the period: 2020-06-01 to 2020-06-30
Downloading data for the period: 2020-07-01 to 2020-07-31
Downloading data for the period: 2020-08-01 to 2020-08-31
Downloading data for the period: 2020-09-01 to 2020-09-30
Downloading data for the period: 2020-10-01 to 2020-10-31
Downloading data for the period: 2020-11-01 to 2020-11-30
Downloading data for the period: 2020-12-01 to 2020-12-31
Downloading data for the period: 2021-01-01 to 2021-01-31
Downloading data for the period: 2021-02-01 to 2021-02-28
Downloading data for the period: 2021-03-01 to 2021-03-31
Downloading data for the period: 2021-04-01 to 2021-04-30
Downloading data for the period: 2021-05-01 to 2021-05-31
Downloading data for the period: 2021-06-01 to 2021-06-30
Downloading data for the period: 2021-07-01 to 2021-07-31
Downloading data for the period: 2021-08-01 to 2021-08-31
Downloading data for the period: 2021-09-01 to 2021-09-30
Downloading data for the period: 2021-10-01 to 2021-10-31
Downloading data for the period: 2021-11-01 to 2021-11-30
Downloading data for the period: 2021-12-01 to 2021-12-31
Downloading data for the period: 2022-01-01 to 2022-01-31
Downloading data for the period: 2022-02-01 to 2022-02-28
Downloading data for the period: 2022-03-01 to 2022-03-31
Downloading data for the period: 2022-04-01 to 2022-04-30
Downloading data for the period: 2022-05-01 to 2022-05-31
Downloading data for the period: 2022-06-01 to 2022-06-30
Downloading data for the period: 2022-07-01 to 2022-07-31
Downloading data for the period: 2022-08-01 to 2022-08-31
Downloading data for the period: 2022-09-01 to 2022-09-30
Downloading data for the period: 2022-10-01 to 2022-10-31
Downloading data for the period: 2022-11-01 to 2022-11-30
Downloading data for the period: 2022-12-01 to 2022-12-31
Downloading data for the period: 2023-01-01 to 2023-01-31
Downloading data for the period: 2023-02-01 to 2023-02-28
Downloading data for the period: 2023-03-01 to 2023-03-31
Downloading data for the period: 2023-04-01 to 2023-04-30
Downloading data for the period: 2023-05-01 to 2023-05-31
Downloading data for the period: 2023-06-01 to 2023-06-30
Downloading data for the period: 2023-07-01 to 2023-07-31
Downloading data for the period: 2023-08-01 to 2023-08-31
Downloading data for the period: 2023-09-01 to 2023-09-30
Data download complete.

In [5]:
tree_data = requests.get(url="https://data.cityofnewyork.us/resource/5rq2-4hqu.json",
                         params={"$$app_token": app_token, "$limit": 99999999999999999999}).json()
tree_df = pd.DataFrame(tree_data)
tree_df.to_csv("data/tree.csv")

## 1.2 Data Cleaning & Filtering

### 1.2.1 311 Data Cleaning & Filtering

In [6]:
def clean_311_data(datafile):
    import pandas as pd
    import numpy as np
    import datetime
    import geopandas as gpd
    from shapely.geometry import Point
    
    #Add fix_zip function
    def fix_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0])
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 12000:
            return np.NaN
        return str(input_zip)

    #Read the file
    df = pd.read_csv(datafile, low_memory=False)

    #fix the zip
    df['incident_zip'] = df['incident_zip'].apply(fix_zip)

    df = df.dropna(how='any')

    #get rid of unspecified boroughs
    df = df[df['borough'] != 'Unspecified']

    df['latitude'] = df['latitude'].astype('float64')
    df['longitude'] = df['longitude'].astype('float64')

    #Converts the 'closed_date','created_date' column into a datetime object
    df['created_date'] = pd.to_datetime(df['created_date'])
    df['closed_date'] = pd.to_datetime(df['closed_date'])
    # Convert longitude and latitude to a 'geometry' column for geopandas
    df['geometry'] = df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)

    # Create a GeoDataFrame and set the coordinate reference system (CRS) to WGS84 (EPSG:4326)
    gdf = gpd.GeoDataFrame(df, geometry='geometry')
    gdf.set_crs(epsg=4326, inplace=True)
    gdf = gdf.reset_index(drop=True)
    
    return gdf

### 1.2.2 2015 Tree census Data Cleaning & Filtering

In [7]:
tree = pd.read_csv('data/tree.csv', usecols=['tree_id', 'the_geom',   'spc_common', 'status', 'health', 'zipcode', 'boroname', 'latitude', 'longitude'])
tree.to_csv('data/tree_data.csv',index=False)

In [8]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point


def clean_tree_data(datafile):

    # Add fix_zip function
    def fix_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0]) 
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 12000:
            return np.NaN
        return str(input_zip)

    # Read the file
    df = pd.read_csv(datafile)

    # Fix the zip
    df['zipcode'] = df['zipcode'].apply(fix_zip)

    df = df.dropna(how='any')

    # Make some columns name readable
    df.rename(columns={'the_geom': 'geometry', 'spc_common': 'species', 'boroname': 'borough'}, inplace=True)

    # Convert longitude and latitude to a 'geometry' column for geopandas
    df['geometry'] = df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)

    # Create a GeoDataFrame and set the coordinate reference system (CRS) to WGS84 (EPSG:4326)
    gdf = gpd.GeoDataFrame(df, geometry='geometry')
    gdf.set_crs(epsg=4326, inplace=True)
    gdf = gdf.reset_index(drop=True)


    return gdf

In [9]:
tree = clean_tree_data('data/tree_data.csv')
tree.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 651235 entries, 0 to 651234
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tree_id    651235 non-null  int64
 1   geometry   651235 non-null  geometry
 2   status     651235 non-null  object
 3   health     651235 non-null  object
 4   species    651235 non-null  object
 5   zipcode    651235 non-null  object
 6   borough    651235 non-null  object
 7   latitude   651235 non-null  float64
 8   longitude  651235 non-null  float64
dtypes: float64(2), geometry(1), int64(1), object(5)
memory usage: 44.7+ MB

### 1.2.3 Zillow Data Cleaning & Filtering

In [10]:
def clean_zillow_data(datafile):
    import pandas as pd

    df = pd.read_csv(datafile, low_memory=False)

    df = df[df['City'] == 'New York']

    # Select the 'RegionName' and 'CountyName' columns and store them in df1
    df1 = df[['RegionName', 'CountyName']]
    # Select all columns from '2018-09-30' onwards and store them in df2
    df2 = df.loc[:, '2018-09-30':]

    # Concatenate df1 and df2 along the columns (axis=1)
    df = pd.concat([df1, df2], axis=1)

    # Make columns' name more readable
    df.rename(columns={'RegionName': 'zipcode', 'CountyName': 'county'}, inplace=True)

    # Convert the 'zipcode' column to a string data type
    df['zipcode'] = df['zipcode'].astype(str)

    df = df.melt(id_vars=["zipcode", "county"], var_name="date")
    
    df = df.reset_index(drop=True)

    return df

In [11]:
zillow = clean_zillow_data('data/zillow_rent_data.csv')
zillow.head()

  zipcode         county        date        value
0   11385  Queens County  2018-09-30  2401.525193
1   11208   Kings County  2018-09-30          NaN
2   11236   Kings County  2018-09-30          NaN
3   10467   Bronx County  2018-09-30  1773.839053
4   11373  Queens County  2018-09-30          NaN

### 1.2.4 Zipcode data Cleaning & Filtering

In [12]:
def clean_zipcode_data(datafile):
    import geopandas as gpd

    gdf = gpd.read_file(datafile)
    
    gdf.crs = 'EPSG:4326'
    
    gdf = gdf.to_crs('EPSG:4326')
    #Select specific columns
    gdf = gdf[['ZIPCODE', 'POPULATION', 'geometry' ]]

    gdf.rename(columns={'ZIPCODE':'zipcode', 'POPULATION':'population'}, inplace=True)
    gdf = gdf.reset_index(drop=True)
    

    return gdf

In [13]:
zipcode = clean_zipcode_data('data/nyc_zipcodes.shp')
zipcode.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zipcode     263 non-null    object
 1   population  263 non-null    float64
 2   geometry    263 non-null    geometry
dtypes: float64(1), geometry(1), object(1)
memory usage: 6.3+ KB

# 2 Storing Data

## 2.1 Creating database

In [79]:
!createdb FINAL_PROJECT
!psql --dbname FINAL_PROJECT -c 'CREATE EXTENSION postgis;'
!psql --dbname FINAL_PROJECT -f schema.sql

createdb: error: database creation failed: ERROR:  database "FINAL_PROJECT" already exists
ERROR:  extension "postgis" already exists

In [80]:
import psycopg2

In [81]:
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

## 2.2 Creating tables

In [88]:
create_nyc_zipcodes_table = """
    CREATE TABLE IF NOT EXISTS zipcodes_nyc (
        id INTEGER PRIMARY KEY,
        zipcode INTEGER NOT NULL,
        population INTEGER,
        geometry geometry(Geometry, 4326)
    );
"""

In [93]:
create_trees_table = """
    CREATE TABLE IF NOT EXISTS treecensus_2015 (
        id INTEGER PRIMARY KEY,
        geometry geometry(Geometry, 4326),
        status VARCHAR,
        health VARCHAR,
        species VARCHAR,
        zipcode INTEGER,
        borough VARCHAR,
        latitude FLOAT,
        longitude FLOAT
    );
"""

In [94]:
create_zillow_table = """
    CREATE TABLE IF NOT EXISTS zillow_average_rents(
        id INTEGER PRIMARY KEY,
        zipcode INTEGER,
        county VARCHAR,
        date DATE,
        value FLOAT
    );
"""

In [95]:
import psycopg2

conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

In [96]:
cur.execute(create_nyc_zipcodes_table)
cur.execute(create_trees_table)
cur.execute(create_zillow_table)
conn.commit()

In [97]:
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

#Creating 311 tables by years
for year in range(2018, 2024):
    table_name = f"complaints311_{year}"
    create_table_query = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            id INTEGER PRIMARY KEY,
            created_date DATE,
            closed_date DATE,
            agency VARCHAR,
            complaint_type VARCHAR,
            descriptor VARCHAR,
            location_type VARCHAR,
            incident_zip INTEGER,
            latitude FLOAT,
            longitude FLOAT,
            borough VARCHAR,
            geometry geometry(Geometry, 4326)
        );
    """
    
    cur.execute(create_table_query)


conn.commit()

## 2.3 Inserting data

### 2.3.1 Inserting tree data

In [100]:
import psycopg2
from shapely import wkt  # Import the Well-Known Text (WKT) module from Shapely

# Assuming you have a function clean_tree_data that reads and processes the CSV
gdf = clean_tree_data('data/tree_data.csv')

# Connect to PostgreSQL
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Define the table schema
create_trees_table = """
    CREATE TABLE IF NOT EXISTS treecensus_2015 (
        id INTEGER PRIMARY KEY,
        geometry geometry(Point, 4326),
        status VARCHAR,
        health VARCHAR,
        species VARCHAR,
        zipcode INTEGER,
        borough VARCHAR,
        latitude FLOAT,
        longitude FLOAT
    );
"""
cur.execute(create_trees_table)
conn.commit()
gdf=clean_tree_data('data/tree_data.csv')
# Prepare data for insertion
data_to_insert = [
    (row.Index, wkt.dumps(row.geometry), row.status, row.health, row.species, row.zipcode, row.borough, row.latitude, row.longitude)
                  for row in gdf.itertuples()]

# Insert data into the table
insert_query = """
    INSERT INTO treecensus_2015 (id, geometry, status, health, species, zipcode, borough, latitude, longitude)
    VALUES (%s, ST_GeomFromText(%s, 4326), %s, %s, %s, %s,%s, %s, %s);
"""
cur.executemany(insert_query, data_to_insert)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

### 2.3.2 Inserting 311 data

In [25]:
import psycopg2
from shapely import wkt

# Connect to the PostgreSQL database
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

for year in range(2018, 2024):
    # Clean the data
    complaints = clean_311_data(f"data/complaints_data_{year}.csv")


    print(year)

    # Prepare the SQL statement for data insertion, dynamically updating the table name
    insert_query = f"""
        INSERT INTO complaints311_{year} (id, created_date, closed_date, agency, complaint_type, descriptor, location_type, incident_zip, latitude, longitude, borough, geometry)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, ST_GeomFromText(%s, 4326));
    """

    # Prepare the data to be inserted
    data_to_insert = [
        (row.Index, row.created_date, row.closed_date, row.agency, row.complaint_type, row.descriptor, row.location_type, row.incident_zip, row.latitude, row.longitude, row.borough, wkt.dumps(row.geometry))
        for row in complaints.itertuples()]

    # Execute the insertion
    cur.executemany(insert_query, data_to_insert)

    # Commit the changes
    conn.commit()

# Close the connection
conn.close()

2018
2019
2020
2021
2022
2023

### 2.3.3 Inserting zillow data

In [101]:
# Connect to PostgreSQL
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Prepare data for insertion
data_to_insert = [
    (row.Index,  row.zipcode, row.county, row.date, row.value)
    for row in zillow.itertuples()]

# Insert data into the table
insert_query = """
    INSERT INTO zillow_average_rents (id,  zipcode, county, date, value)
    VALUES ( %s, %s,%s, %s, %s);
"""
cur.executemany(insert_query, data_to_insert)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

### 2.3.4 Inserting zipcodes data

In [102]:
# Connect to PostgreSQL
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Prepare data for insertion
data_to_insert = [
    (row.Index,  row.zipcode, row.population, wkt.dumps(row.geometry) )
    for row in zipcode.itertuples()]

# Insert data into the table
insert_query = """
    INSERT INTO zipcodes_nyc (id,  zipcode, population, geometry)
    VALUES ( %s, %s,%s, ST_GeomFromText(%s, 4326));
"""
cur.executemany(insert_query, data_to_insert)

# Commit the changes
conn.commit()

# Close the conn
conn.close()

# Understanding Data

### Query 1: Which area might be more calm to live in?

In [112]:
import psycopg2

# Connect to the PostgreSQL database
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Execute the SQL query
result_query = """
    SELECT 
        incident_zip AS zipcode,
        COUNT(*) AS number_of_complaints
     FROM
        (SELECT * FROM complaints311_2022 WHERE created_date >= '2022-10-01'
         UNION ALL
         SELECT * FROM complaints311_2023 WHERE created_date <= '2023-09-30') AS combined_data
    WHERE  
        created_date BETWEEN '2022-10-01' AND '2023-09-30'
    GROUP BY
        incident_zip
    ORDER BY
        number_of_complaints DESC
"""

cur.execute(result_query)
result = cur.fetchall()
print(result)

conn.commit()
conn.close()

[(11226, 166722), (10467, 161694), (10468, 152643), (10452, 150937), (10457, 143894), (10458, 141509), (10456, 138635), (11385, 137536), (10453, 131956), (11207, 129944), (11201, 121806), (11208, 120507), (10031, 113644), (10466, 112061), (10032, 110307), (11221, 105819), (10462, 100442), (11368, 96386), (11230, 95102), (10025, 91737), (11225, 91270), (10460, 91036), (11238, 91029), (11220, 90580), (11212, 90390), (10463, 88960), (11216, 87295), (10472, 86701), (11203, 86407), (11214, 85674), (11235, 84784), (11213, 84510), (10027, 84496), (11377, 81392), (11233, 81173), (10033, 80556), (11218, 78553), (11101, 78142), (11209, 77202), (11206, 76915), (10002, 76374), (11223, 76343), (11222, 75681), (10034, 75514), (11373, 74889), (10023, 74669), (11211, 74219), (10019, 73754), (11234, 73608), (10026, 72325), (11237, 72027), (10461, 71966), (11215, 71135), (11236, 69828), (11229, 68215), (10469, 67541), (11204, 67318), (10459, 67253), (10040, 66846), (10451, 66178), (11210, 65623), (10029, 65566), (11419, 63517), (11372, 63408), (10455, 61889), (11378, 61854), (10030, 61515), (11231, 61412), (11432, 61362), (11420, 60812), (11217, 59636), (10035, 59615), (10003, 59508), (10009, 59387), (11355, 58506), (11219, 58015), (11421, 57292), (11375, 56833), (10314, 55735), (11366, 54978), (10011, 53916), (11205, 53527), (11435, 52353), (10473, 51448), (11434, 50774), (11691, 49300), (11103, 49153), (10312, 47377), (11106, 46539), (11224, 46127), (10024, 45834), (11433, 45733), (11414, 45553), (11379, 45094), (10454, 44334), (11105, 44143), (10465, 43193), (10301, 42257), (10036, 42180), (10306, 42067), (10028, 41642), (10016, 41101), (10039, 40669), (11354, 40426), (11239, 40001), (11369, 39687), (10304, 38857), (11249, 38851), (11417, 37826), (11102, 36894), (11374, 36777), (11365, 36640), (11232, 36550), (11418, 36369), (11228, 35941), (10014, 35170), (11357, 34121), (10001, 33743), (10012, 33170), (10013, 32197), (11412, 31686), (10128, 31447), (11356, 31400), (11413, 30192), (10305, 29840), (11358, 29815), (11104, 29738), (10470, 29381), (10309, 27366), (11416, 26955), (10021, 26234), (11367, 26093), (11361, 25892), (10037, 25814), (10022, 25281), (11423, 25209), (11694, 24166), (11436, 24156), (11422, 23009), (10474, 22587), (11370, 22425), (10471, 21971), (10010, 21077), (10065, 20725), (10302, 19268), (11364, 19266), (10310, 19173), (10303, 18882), (10308, 17775), (11429, 17691), (11692, 17572), (10038, 17122), (11415, 16661), (10017, 16163), (11411, 16008), (10018, 15910), (11428, 15753), (10075, 14804), (11427, 13715), (11693, 12293), (10007, 11187), (10475, 11060), (11360, 10861), (11426, 10614), (10307, 10065), (11430, 9171), (11362, 8177), (10464, 7683), (10004, 6955), (11109, 6292), (11004, 6202), (11363, 4904), (10005, 4733), (10006, 4520), (10044, 2920), (11001, 2404), (11040, 1970), (10069, 1841), (10282, 1656), (10280, 1428), (10000, 1117), (10020, 961), (10121, 785), (10278, 701), (11359, 402), (10153, 223), (10120, 179), (11697, 164), (10281, 158), (10103, 150), (10118, 130), (11251, 128), (10106, 125), (10105, 122), (10168, 121), (10162, 118), (10151, 104), (11005, 103), (10271, 98), (10041, 75), (10045, 68), (11371, 67), (10112, 63), (10110, 63), (10119, 62), (10107, 62), (10165, 61), (10154, 61), (10178, 59), (10169, 55), (10170, 55), (10172, 51), (10179, 48), (10123, 43), (10171, 40), (10279, 35), (11695, 34), (10111, 32), (10158, 31), (10152, 28), (11241, 27), (10115, 24), (11242, 23), (10174, 23), (10177, 20), (10173, 16), (10048, 16), (10803, 16), (10122, 12), (10167, 12), (10176, 12), (10166, 8), (10080, 4), (10155, 4), (10175, 4)]

### Query 2: Where has the most greenery?

In [113]:
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Execute the SQL query to find the top 10 zip codes with the most trees
trees_query = """
    SELECT 
        zipcode,
        COUNT(*) AS total_trees
    FROM
        treecensus_2015
    GROUP BY
        zipcode
    ORDER BY
        total_trees DESC
    LIMIT 10;
"""

cur.execute(trees_query)
result = cur.fetchall()

print(result)

conn.commit()
conn.close()

[(10312, 21356), (10314, 16330), (10306, 12616), (10309, 12105), (11234, 10838), (11385, 10262), (11357, 9016), (11207, 8293), (11208, 7896), (11434, 7833)]

### Query 3: Can I afford a place in the areas with the most trees?

In [115]:
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Execute the SQL query to find the average rent for the top 10 zip codes with the most trees
average_rent_query = """
    SELECT 
        treecensus_2015.zipcode,
        COUNT(*) AS total_trees,
        AVG(zillow_average_rents.value) AS average_rent
    FROM
        treecensus_2015 
    JOIN
        zillow_average_rents ON treecensus_2015.zipcode = zillow_average_rents.zipcode
    WHERE
        zillow_average_rents.date = '2023-08-31'  
    GROUP BY
        treecensus_2015.zipcode
    ORDER BY
        total_trees DESC
    LIMIT 10;
"""

cur.execute(average_rent_query)
result = cur.fetchall()

print(result)

conn.commit()
conn.close()

[(10312, 21356, 1775.090066991707), (10314, 16330, 2465.4730986380027), (10306, 12616, 2331.5359912813365), (10309, 12105, 1832.011753915415), (11234, 10838, 2312.3148271736404), (11385, 10262, 3064.476502786387), (11357, 9016, 2458.80843986437), (11207, 8293, 3079.087462051537), (11208, 7896, 2737.547470143483), (11434, 7833, 2645.9225802250326)]

### Query 4: Could there be a correlation between an area’s rent, the number of its trees, and the number of 311 complaints?

In [117]:
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Execute the SQL query to find the 5 zip codes with the lowest and highest average rent for January 2023
rent_query = """
    WITH arearents AS (
        SELECT
            zillow_average_rents.zipcode,
            AVG(zillow_average_rents.value) AS avg_rent
        FROM
            zillow_average_rents 
        WHERE
            zillow_average_rents.date = '2023-01-31'  
        GROUP BY
            zillow_average_rents.zipcode
    )

    SELECT
        arearents.zipcode,
        arearents.avg_rent,
        COUNT(treecensus_2015.id) AS number_of_trees,
        COUNT(complaints.id) AS number_of_complaints
    FROM(
        arearents
    LEFT JOIN
        treecensus_2015 ON arearents.zipcode = treecensus_2015.zipcode
    LEFT JOIN
        complaints ON arearents.zipcode = complaints.incident_zip
    GROUP BY
        arearents.zipcode, arearents.avg_rent
    ORDER BY
        avg_rent ASC
    LIMIT 5)

    UNION ALL

    SELECT
        arearents.zipcode,
        arearents.avg_rent,
        COUNT(treecensus_2015.id) AS number_of_trees,
        COUNT(complaints.id) AS number_of_complaints
    FROM (
        arearents
    LEFT JOIN
        treecensus_2015 ON arearents.zipcode = treecensus_2015.zipcode
    LEFT JOIN
        complaints ON arearents.zipcode = complaints.incident_zip
    GROUP BY
        arearents.zipcode, arearents.avg_rent
    ORDER BY
        avg_rent DESC
    LIMIT 5;)
"""

cur.execute(rent_query)
result = cur.fetchall()

# Print or process the result as needed
print(result)

# Commit the changes (if applicable)
conn.commit()

# Close the connection
conn.close()

SyntaxError: syntax error at or near "GROUP"
LINE 25:     GROUP BY
             ^

### Query 5: Where has the most greenery (take 2)?

In [123]:
conn = psycopg2.connect("dbname=FINAL_PROJECT user=postgres password=123456")
cur = conn.cursor()

# Execute the SQL query to find the top 10 zip codes with the most trees
query_5 = """
    SELECT
        zipcodes_nyc.zipcode,
        COUNT(treecensus_2015.zipcode) AS number_of_trees
    FROM
        zipcodes_nyc
    LEFT JOIN
        treecensus_2015 ON ST_Within(treecensus_2015.geometry, zipcodes_nyc.geometry)
    GROUP BY
        zipcodes_nyc.zipcode
    ORDER BY
        number_of_trees DESC
    LIMIT 10;
"""

cur.execute(query_5)
result = cur.fetchall()

# Print or process the result as needed
print(result)

# Commit the changes (if applicable)
conn.commit()

# Close the connection
conn.close()

[(10001, 0), (10002, 0), (10003, 0), (10004, 0), (10005, 0), (10006, 0), (10007, 0), (10009, 0), (10010, 0), (83, 0)]

### Query 6: What is the immediate area like?

# Visualizing Data