In [1]:
import pandas as pd
import requests

In [2]:
app_token = "Rl5BUiRawpr4H2LA9OQeKB47L"

# Data Preprocessing

In [9]:
zillow_df = pd.read_csv("zillow_rent_data.csv")

In [10]:
complaints_data = requests.get(url="https://data.cityofnewyork.us/resource/erm2-nwe9.json",
                               params={"$$app_token": app_token, "$where": "created_date between '2015-01-01T00:00:00' and '2015-01-31T23:59:59.9999'", "$limit": 999999}).json()
complaints_df = pd.DataFrame(complaints_data)

In [11]:
complaints_df.shape

(194137, 41)

In [12]:
complaints_df.head()

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,incident_zip,intersection_street_1,intersection_street_2,...,due_date,bbl,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,taxi_company_borough,vehicle_type,landmark
0,29831247,2015-01-31T23:59:46.000,2015-02-05T10:00:00.000,DOT,Department of Transportation,Street Condition,Pothole,10451,EAST 149 STREET,PARK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29835781,2015-01-31T23:59:25.000,2015-02-01T02:50:39.000,NYPD,New York City Police Department,Noise - Residential,Loud Television,11375,NaN,NaN,...,2015-02-01T07:59:25.000,4021860038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29837850,2015-01-31T23:59:08.000,2015-04-02T06:33:30.000,DOHMH,Department of Health and Mental Hygiene,Food Establishment,Food Worker Hygiene,10016,NaN,NaN,...,2015-04-01T23:59:08.000,1008820047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29833911,2015-01-31T23:58:50.000,2015-02-01T01:28:12.000,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,10474,NaN,NaN,...,2015-02-01T07:58:50.000,2027630252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29837016,2015-01-31T23:58:47.000,2015-02-01T05:26:00.000,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,10034,NaN,NaN,...,2015-02-01T07:58:47.000,1022170035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tree_data = requests.get(url="https://data.cityofnewyork.us/resource/5rq2-4hqu.json",
                         params={"$$app_token": app_token, "$limit": 99999999999999999999}).json()
tree_df = pd.DataFrame(tree_data)

In [14]:
tree_df.shape

(683788, 42)

In [15]:
tree_df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,"{'type': 'Point', 'coordinates': [-73.84421521...",3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.72309177,-73.84421522,1027431.14821,202756.768749
1,09/03/2015,200540,315986,"{'type': 'Point', 'coordinates': [-73.81867945...",21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.79411067,-73.81867946,1034455.70109,228644.837379
2,09/05/2015,204026,218365,"{'type': 'Point', 'coordinates': [-73.93660770...",3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.71758074,-73.9366077,1001822.83131,200716.891267
3,09/05/2015,204337,217969,"{'type': 'Point', 'coordinates': [-73.93445615...",10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.71353749,-73.93445616,1002420.35833,199244.253136
4,08/30/2015,189565,223043,"{'type': 'Point', 'coordinates': [-73.97597938...",21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.66677776,-73.97597938,990913.775046,182202.425999

To save time, I will save the datasets downloaded locally.

In [17]:
complaints_df.to_csv("complaints.csv")
tree_df.to_csv("tree.csv")

In [18]:
complaints_df = pd.read_csv("complaints.csv")
tree_df = pd.read_csv("tree.csv")

/var/folders/98/l9_9vlzx4vs8g303whfvnnjc0000gn/T/ipykernel_5330/3313637462.py:1: DtypeWarning: Columns (8,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints_df = pd.read_csv("complaints.csv")

# Storing Data

In [27]:
!createdb FINAL_PROJECT
!psql --dbname FINAL_PROJECT -c 'CREATE EXTENSION postgis;'

createdb: error: database creation failed: ERROR:  database "FINAL_PROJECT" already exists
ERROR:  extension "postgis" already exists

In [29]:
from sqlalchemy import create_engine

engine = create_engine(f"sqlite:///FINAL_PROJECT.db", echo=True)

In [32]:
with engine.connect() as connection:
    with open('schema.sql', 'w') as f:
        f.write("""
            CREATE TABLE zip_codes (
                zip_code Integer PRIMARY KEY,
                neighborhood String,
                borough String,
                geometry GEOMETRY(Point, 4326)
            );

            CREATE TABLE complaints (
                complaint_id Integer PRIMARY KEY,
                created_date TIMESTAMP,
                complaint_type String,
                descriptor String,
                zip_code Integer REFERENCES zip_codes(zip_code),
                latitude FLOAT,
                longitude FLOAT,
                geometry GEOMETRY(Point, 4326)
            );

            CREATE TABLE trees (
                tree_id Integer PRIMARY KEY,
                species String,
                diameter_inches FLOAT,
                health String,
                zip_code Integer REFERENCES zip_codes(zip_code),
                latitude FLOAT,
                longitude FLOAT,
                geometry GEOMETRY(Point, 4326)
            );

            CREATE TABLE average_rents (
                zip_code Integer PRIMARY KEY,
                year INT,
                avg_rent DECIMAL
            );
        """)

# Understanding Data

# Visualizing Data